<!-- <body bgcolor="grey">
  <body text="purple">
    <body link="blue"> -->



  <h1>Make it Short!</h1>
  <h3>Enter Your URL Here:</h3>




  <center>
    <div class = "input_bar">

      <form  id="target" action = '/urls' method = "post">
            <input id = 'long_url' type = 'text' placeholder = '     What URL do you want to shorten?' name = 'long_url'>
            <input type = 'submit' value = 'SHORT IT!' class="submit" id="submit_btn">
      </form>
    </div>
  </center>

<center>
  <div ID="error-block">
  <button id="error-btn">Show Error Message</button>  
  <h4 id = "error-message" style="color:red;display: none"><strong>Errors!!</strong><br>
  <% @url.errors.full_messages.each do |x|%>
  <%=  x %>
  <% end %>
  </h4>
  </div>
</center>


<div class="clear"></div>
<div class="container">
  <div class ="row">
    <div class="headline">
      <h3>Three simple steps to solve your problem!</h3>
        <div class="row">
          <div class="column">

            <img class="round" src="/img/copy.png">
            <p>
              <span>Step 1: </br>
              Copy the link <span>

            </p>

          </div>

          <div class="column">
            <img class="round" src="/img/paste.png">
            <p>
              <span>Step 2: </br> Paste the link</span>
            </p>

          </div>

          <div class="column">
            <img class="round" src="/img/click.png">
            <p>
              <span>Step 3: </br> Click 'Short It'</span>
            </p>
          </div>
        </div>
    </div>
  </div>
</div>



  <table class="url-table">
    <!-- <table border="5"> -->
      <!-- <table cellpadding="5"> -->
    <tr >
      <th class="firstrow">ID</th>
      <th class="firstrow">Long url</th>
      <th class="firstrow">Short url</th>
      <th class="firstrow">Click_counter</th>
    </tr>

  <% @urls.each do |url|%>
    <tr>
      <th class="b5"><%= url.id%></th>
      <th class="b5"><%= url.long_url%></th>
      <th class="url"><a href = <%= url.short_url%> ><%= url.short_url%></a></th>
      <th class="b5"><%= url.click_counter%></th>
    </tr>
  <% end%>

  </table>

